// Colors

$white: #ffffff;
$black: #222;
$primaryOne: #909909;
$primaryTwo: #099099;


body {
    color: $white;
    background-color: $primaryOne;
}

// Splash page
.splash {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica;
  // position: relative;
  .name {
    margin-top: 20%;

    color: #222;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: -2px;
  }
  .tag {
    margin-top: 20px;
    color: #333;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: italic;
  }
  a {
    &.login {
      display: inline-block;
      color: $white;
      margin: 50px auto;
    }
    &.find, &.tell {
      display: inline-block;
      margin: 10px;
      padding: 10px 20px;
      
      color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      font-size: 1.2em;
      font-weight: 200;

      &:hover, &:active, &:visited {
        background-color: rgba(255,255,255,.2);
        text-decoration: none;
      }
    }    
    &.find {
      margin-top: 50%;
      margin-bottom: 30px;
    }
  }

  // Login View
  .login-form {
    margin-top: 50px;
    padding: 20px;
    input {
      display: block;
      margin: 20px auto;
      padding: 10px !important;
      color: #000;
    }
  }


  // a.about {
  //   position: absolute;
  //   color: #999;
  // }
}

@media all and (max-width: 400px) {
  .splash {
    background: #333 url('../images/trees-400x900.png') no-repeat fixed;
    background-position: contain;
  }
}

@media all and (min-width: 401px) and (max-width: 768px) {
  .splash {
    background: #333 url('../images/trees-700x1200.png') no-repeat center;
    background-position: contain;
  }
}


@media all and (min-width: 769px) {
  .splash {
    background: #333 url('../images/trees.jpeg') no-repeat fixed center;
  }
}

// Final Global Styles

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
